# allow-build allowlists postinstall scripts for known safe build-time deps
allow-build[]=esbuild
allow-build[]=vue-demi
allow-build[]=sharp
allow-build[]=@parcel/watcher
enable-pre-post-scripts=true
